/* Color Pallet 
#FDB827   (Orange)
#008061   (Green)
#5C5B3D   (Grey)
*/

/* Fonts 
font-family: "Inter", sans-serif;   (h1)
font-family: "Noto Sans", sans-serif;  (p)
font-family: "DM Sans", sans-serif;  (h2)
*/

:root {
  --main-bg-color: #FDFBEE;
  --primary-type-color: #5C5B3D;
  --accent-color-1: #FDB827;
  --accent-color-2: #008061;
}

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------------Utility Classes----------------- */

.container{
    margin:auto;
  }
  
  /* ---------------Responsive Images----------------- */
  
  img{
    max-width: 100%;
    height:auto;
  }

  /* ----------------Body Style---------------- */

  main {
    width: 80vw;
    margin:auto;
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
  }

  body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-type-color);
  }

  header.primary, #colophon {
    grid-column: 1 / span 12;
    
  }

  a {
    text-decoration: none;
  }

  .email {
    color: #5C5B3D;
  }

  .email:hover {
    color:#FDB827;
  }

  header.primary {
    background-color: #acacac;
  }

  nav ul{
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  nav li {
    list-style-type: none;
  }

  nav a {
    color: var(--primary-type-color);
  }

  nav a:hover {
    border-bottom: 2px solid var(--accent-color-2)
  }

  .primary h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.8rem;
    text-align: center;
  }

  h2 {
    font-family: "DM Sans", sans-serif;
  }

  #content {
    grid-column: 1 / span 7; 
  }

  aside {
    grid-column: 8 / span 12;
  }

  .line-break {
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
  }

  #colophon, #colophon a {
    background-color: var(--primary-type-color);
    color: var(--main-bg-color);
  }

  #colophon ul {
    display: flex;
    justify-content: space-between;
  }