/*  ----------   Course Homepage Stylesheet   ----------     */

/* Color Theme Swatches in Hex */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hex { color: #127369; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hex { color: #10403B; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex { color: #8AA6A3; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex { color: #637371; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hex { color: #BFBFBF; }


:root {
    --main-bg-color: #222;
    --primary-type-color: #F5EFDF;
    --accent-color-1: #888888;
    --accent-color-2: #ec2c13;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-type-color);
    font-family: "Bakbak One", sans-serif;
}

h1.primary {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 2.5rem;
}

.primary {
    border-bottom: 2px solid var(--accent-color-2);
    padding: 10px;
}

main {
    width:80vw;
    margin:auto
}

#assignments {
    display:flex;
}

h2 {
    width:100%;
    text-align: center;
    font-size: 1.8rem;
    color:#000;
}

#thomas {
    background-color: var(--accent-color-1);
    border-radius: 5px;
    margin-right: 20px;
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:10px;
    flex-flow: wrap;
}

#bruce {
    background-color: var(--accent-color-1);
    border-radius: 5px;
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    gap:10px;
    flex-flow: wrap;
}


a {
    text-decoration: none;
    background-color: #b4b4b4;
    color:#000;
    height:fit-content;
    width:fit-content;
    padding: 20px;
    border-radius: 5px;
}
